// @import "./variables";
// @import "./mixin";


// body {
//   font-family: 'Poppins', sans-serif;
//   color: $text-color;
//   background: #f9fafb;
// }

// .nav{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     height: 80px;
//     background-color: $bg-color;
//     border-bottom: 1px solid #fff;
//     box-shadow: 0px 0 10px #fff
// }

// .nav-links{
//     display: flex;
//     gap : 10px;
//     text-decoration: none;
//     list-style: none;
//     color: $text-color  

//     &_li{
//         color: $text-color 

//     }
// }

// .container {
//   @include flex-center;
//   min-height: 100vh;
//   background-color: $bg-color;
//   color: $text-color;
// }
