/* Layout */
.lamp-layout {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  /* align-items: center; */
  min-height: 80vh;
}

/* Lamp Area */
.lamp-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Lamp */
.lamp {
  width: 300px;
  height: 350px;
  background-color: transparent;
  cursor: pointer;
  transform-origin: top center;
  transform-box: fill-box;
  transition:
    transform 0.9s cubic-bezier(.4,0,.2,1),
    filter 0.6s ease;
}


.lamp-off {
  opacity: 0.6;
  
}

.lamp-on {
  filter:
    drop-shadow(0 0 10px #C778DD)
    drop-shadow(0 0 30px rgba(199,120,221,0.6))
    drop-shadow(0 0 40px rgba(0,0,0,0.1));

    
}

/* Lamp aims towards form */
.lamp-aim {
  transform: rotate(-60deg);
}


/* Light cone */
.light-cone {
  opacity: 0;
  animation: lightIn 0.6s ease forwards;
}

@keyframes lightIn {
  from {
    opacity: 0;
    transform: scaleY(0.7);
  }
  to {
    opacity: 0.35;
    transform: scaleY(1);
  }
}

/* Hint */
.lamp-hint {
  margin-top: 10px;
  font-size: 12px;
  color: #aaa;
}


/* Tablets & below */
@media (max-width: 1100px) {
 .lamp {
  width: 250px;
  height: 300px;
}

  .lamp-aim {
    transform: rotate(-50deg);
  }
}


@media (max-width: 768px) {

  .lamp-layout {
  display: flex;
  justify-content: end;
  align-items: center;
  min-height:100%;
}

  .lamp {
  width: 200px;
  height: 250px;
}

  .lamp-aim {
    transform: rotate(0deg);
  }
}
