/* Layout */
.lamp-layout {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  /* align-items: center; */
  min-height: 80vh;
}

/* Lamp Area */
.lamp-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Lamp */
.lamp {
  width: 300px;
  height: 350px;
  background-color: transparent;
  cursor: pointer;
  transform-origin: top center;
  transform-box: fill-box;
  transition:
    transform 0.9s cubic-bezier(.4,0,.2,1),
    filter 0.6s ease;
}


.lamp-off {
  opacity: 0.6;
  
}

.lamp-on {
  filter:
    drop-shadow(0 0 10px #C778DD)
    drop-shadow(0 0 30px rgba(199,120,221,0.6))
    drop-shadow(0 0 40px rgba(0,0,0,0.1));

    
}

/* Lamp aims towards form */
.lamp-aim {
  transform: rotate(-60deg);
}


/* Light cone */
.light-cone {
  opacity: 0;
  animation: lightIn 0.6s ease forwards;
}

@keyframes lightIn {
  from {
    opacity: 0;
    transform: scaleY(0.7);
  }
  to {
    opacity: 0.35;
    transform: scaleY(1);
  }
}

/* Hint */
.lamp-hint {
  margin-top: 10px;
  font-size: 12px;
  color: #aaa;
}

/* FORM */
/* .form-wrapper {
  opacity: 0;
  transform: translateY(40px);
  pointer-events: none;

  transition: all 0.7s ease;
}

.form-show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;

  box-shadow:
    0 0 50px rgba(199,120,221,0.25),
    inset 0 0 80px rgba(199,120,221,0.15);
} */


